.Page1 {
  background-color: #404eed;
  height: 90vh;

  .cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .logo {
      height: 4.3em;
      margin-left: 0.9em;
      margin-top: 5px;
    }

    .links {
      margin-right: 4em;

      .link {
        font-family: 'QuattrocentoSans';
        margin: 1.3em;
        color: #fff;
        text-decoration: none;
      }
    }

    .abrir {
      border-radius: 30px;
      border-style: none;
      padding: 1em;
      background-color: #fff;
    }
  }

  .textos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 33em;

    .titulo {
      color: #fff;
      font-size: 54px;
      line-height: 1em;
      font-family: 'Sonar Hubermann';
    }

    .subtitulo {
      line-height: 35px;
      margin-top: auto;
      color: #fff;
      font-weight: 100;
      font-size: 20px;
      font-family: 'TafelSans';
    }

    .sub {
      width: 42em;
    }
    

    .botoes {
      width: 70em;
    }

    .botao1{
      font-size: large;
      font-weight:600;
      background-color: #fff;
      color: #36393f;
      align-items: center;
      width: 17em;
    }

    .botao2 {
      font-size: large;
      font-weight: 600;
      background-color: #36393f;
      color:#fff;
      width: 20em;
    }

    .botao1,
    .botao2 {
      border-style: none;
      border-radius: 50px;
      margin: 1em;
      padding: 0em;
      height: 3em;
      
    }
  }
  

  .back1 {
    position: absolute;
    left: -18em;
    margin-top: 14em;
  }

  .back2 {
    position: absolute;
    left: 70em;
    margin-top: 13.6em;
  }

  .back3 {
    position: absolute;
    margin-top: -3em;
    right: -33em;
  }

}

.Page2 {

  margin-top: 7em;
  height: 85vh;
  display: flex;
  flex-direction: row;

  .image {
    margin-top: 2em;
    margin-left: 10em;
  }

  .texto {
    text-align:left;
    width: 2em;
    margin-left: 7em;
    width: 30em;
    display: flex;
    flex-direction: column;
  }

  .titulo1 {
    color: #23272a;
    width: 9em;
    line-height: 1.3em;
    margin-bottom: 2em;

    font-size: 42px;
    font-weight: bolder ;
    font-family: 'Corsa';
  }

  .subtitulo1 {
    letter-spacing: 2px;
    margin-top: -3em;
    width: 22em;
    line-height: 1.7em;
    font-family: 'Cooper';
    font-size: 17px;
  }
}

.Page3 {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row-reverse;
  height: 78vh;

  .image2 {
    margin-top: 4em;
    margin-left: 10em;
  }

  .texto2 {
    text-align:left;
    width: 2em;
    margin-top: 4em;
    margin-left: 7em;
    width: 30em;
    display: flex;
    flex-direction: column;
  }

  .titulo2 {
    color: #23272a;
    width: 9em;
    line-height: 1.3em;
    margin-bottom: 2em;

    font-size: 42px;
    font-weight: bolder ;
    font-family: 'Corsa';
  }

  .subtitulo2 {
    letter-spacing: 2px;
    margin-top: -3em;
    width: 22em;
    line-height: 1.7em;
    font-family: 'Cooper';
    font-size: 17px;
  }
}

.Page4 {
  margin-top: 7em;
  display: flex;
  flex-direction: row;
  height: 78vh;

  .image3 {
    margin-top: 4em;
    margin-left: 10em;
  }

  .texto3 {
    text-align:left;
    width: 2em;
    margin-left: 7em;
    margin-top: 4em;
    width: 30em;
    display: flex;
    flex-direction: column;
  }

  .titulo3 {
    color: #23272a;
    width: 9em;
    line-height: 1.3em;
    margin-bottom: 2em;

    font-size: 42px;
    font-weight: bolder ;
    font-family: 'Corsa';
  }

  .subtitulo3 {
    letter-spacing: 2px;
    margin-top: -3em;
    width: 22em;
    line-height: 1.7em;
    font-family: 'Cooper';
    font-size: 17px;
  }
}

.Page5 {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  .texto4 {
    width: 60em;

    .titulo4 {
      font-family: 'Sonar Hubermann';
      font-size: 40px;
      color: #23272a;
    }

    .subtitulo4 {
        font-family: 'Cooper';
        font-size: 17.6px;
        letter-spacing: 1px;
        line-height: 1.9em;
    }
  }

  .image4 {
    height: 44.7em;
  }

  .titulo5 {
    position: relative;
    font-size: 27px;
  }

  .stars {
    position: absolute;
    margin-top: 61em;
  }

  .botao3 {
    border-style: none;
    border-radius: 50px;
    margin: 1em;
    padding: 0em;
    height: 3em;  
    font-size: large;
    font-weight:600;
    background-color: #4b57dd;
    color: #fff;
    align-items: center;
    width: 17em;
  }
}

.Rodape {
  display: flex;
  flex-direction: row;
  background-color: #23272a;
  height: 60vh;

  .coluna1 {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 10em;
    

    margin-left: 9em;


    .linha1 {
      margin-top: 5em;

      .titulo6 {
        font-family: 'Sonar Hubermann';
        font-size: 30px;
        color: #4b57dd;
        width: 10em;
        margin-bottom: 0.5em;
        margin-top: -0.1em;
      }

      .bandeira {
        width: 1.6em;
        border: solid green;
      }
  
      .idioma {
        border: solid #23272a;
        background-color: transparent;
        color: #fff;
        
        margin-top: 1em;

        
      }

      .redes_sociais {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2em;
        width: 10em;
        

        .twitter,
        .instagram,
        .youtube,
        .facebook {
          width: 23px;
          height: 23px;

        }
      }
    }
  }

  .coluna2 {
    margin-top: 3.5em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    width: 5em;
    height: 10em;

    .titulo7 {
      color: #404eed;
      font-weight: 100;
      font-size: 15px;     
      margin-bottom: 0.1em;
    }

    .links {
      display: flex;
      flex-direction: column;
    }
    .link2 {
      color: #fff;
      font-size: 15px;
      text-decoration: none;
      line-height: 2em;
    }
  }

  .coluna3 {
    margin-top: 3.5em;
    margin-left: 7em;
    display: flex;
    flex-direction: column;
    width: 5em;
    height: 10em;

    .titulo8 {
      color: #404eed;
      font-weight: 100;
      font-size: 15px;     
      margin-bottom: 0.1em;
    }

    .links {
      display: flex;
      flex-direction: column;
    }
    .link3 {
      font-size: 15px;
      color: #fff;
      text-decoration: none;
      line-height: 2em;
    }
  }

  .coluna4 {
    margin-top: 3.5em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    width: 5em;
    height: 10em;

    .titulo9 {
      color: #404eed;
      font-weight: 100;
      font-size: 15px;     
      margin-bottom: 0.1em;
    }

    .links {
      display: flex;
      flex-direction: column;
    }
    .link4 {
      font-size: 15px;
      color: #fff;
      text-decoration: none;
      line-height: 2em;
    }
  }

  .coluna5 {
      margin-top: 3.5em;
      margin-left: 5em;
      display: flex;
      flex-direction: column;
      width: 20em;
      height: 10em;
  
      .titulo10 {
        color: #404eed;
        font-weight: 100;
        font-size: 15px;     
        margin-bottom: 0.1em;
      }
  
      .links {
        display: flex;
        flex-direction: column;
      }
      .link5 {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        line-height: 2em;
      }
  }


}

.Rodape2 {
  display: flex;
  flex-direction: column;
  height: 15vh;
  background-color: #23272a;

  .quebra_de_linha {
    background-color: #404eed;
    height: 1px;
    width: 80em;
    margin: auto;
  }

  .final {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .logo{
      height: 4em;
    }
  }

  .Registro {
    border-style: none;
    border-radius: 50px;
    margin: 1em;
    margin-left: 65em;
    padding: 0em;
    height: 3em;  
    background-color: #4b57dd;
    color: #fff;
    align-items: center;
    width: 5em;
  }
}

 
